/**************************** START: ALL CSS QUERIES FOR PAGE LAYOUT / STYLING! ****************************/
           
/* 
 * CSS selector applied to all elements
 */
* {
    margin: 0;
    padding: 0;
    font-family:'Montserrat', sans-serif;   
    font-weight: 500;

}

/* 
 * CSS selector applied to all body elements
 */    
body {   
    margin:0;
    padding: 0;
    background: #171717;          
}

/* 
 * Div container for each section wrapper.
 * As we want three Full-screen sections, height and width set to 100%.
 */
.full-height {
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
}

/* 
 * Wrapper for each section defined as a table cell
 * For one table there is 3 full screen cells.
 */
.content-wrapper {
    display: table-cell;
    vertical-align: middle;
}

/*
 * Section-1 id selector for specific styling.
 */
#section-1 {
    background-color: #fff;
}
 
/*
 * Section-2 id selector for specific styling.
 */  
#section-2 {
    background-color: #fff;
}

/*
 * Section-3 id selector for specific styling.
 */
#section-3 {
    background-color: #999994;
}

/**************************** END: ALL CSS QUERIES FOR PAGE LAYOUT / STYLING! ****************************/


/**************************** START: ALL CSS QUERIES FOR MENU LAYOUT / STYLING! ****************************/

/*
 * Vertical menu bar.
 * fixed menu so it moves onScroll.
 */
.menu-bar {
    position: fixed;
    left: 0;
    top: 0;
    left: 0%;
    width: 70px;
    height: 100%;
    background: #000000;
    cursor: pointer;
    box-sizing: border-box;
    transition: 1.0s;    
    z-index: 150;
}

/* 
 * menu span selector for styling span elements.
 * Burger-Menu functionality.
 */
.menu-bar span {     
    position: absolute;
    width:35px;
    height: 2px;
    background: #fff;
    display: block;
    top: 26px;
    left: 16.25px;
    transition: 0.5s;  
}

/*
 * Select first span object in list.
 */
.menu-bar span:nth-child(1) {
    transform: translateY(-5px);
}

/*
 * Select second span object in list.
 */
.menu-bar span:nth-child(2) {
    transform: translateY(5px);
}

/*
 * Define functionality for script to target.
 * if menu-bar is clicked, call CSS and translate first span object.
 */
.menu-bar.active span:nth-child(1) {
    transform: translateY(0.0px);
}

/*
 * Define functionality for script to target.
 * if menu-bar is clicked, call CSS and translate second span object.
 */
.menu-bar.active span:nth-child(2) {
    transform: translateY(-0.0px);
}

/*
 * Main menu: when menu-bar is clicked the menu 'opens'
 * Similar to menu-bar position is fixed.
 * We hide menu off screen (-100%).
 */
.menu {
    position: fixed;
    top:0;
    left:0;
    width:270px;
    height:100%;
    background: #000000;
    transition: 1.1s;
    transform: translateX(-100%);
    z-index: 8;
}

/*
 * When JQuery function is instantiated, this query is called.
 * main menu tranlates into the viewport.
 */
.menu.active {
    transform: translateX(0);
}

/*
 * menu-align is div wrapper for the li items.
 * centers ul horizontally + vertically in menu.
 */
.menu-align {
    display: table;
    width: 70%;
    height: 100vh;
    background: #000000;
    margin: auto;
    margin-right: 0;
}

/*
 * menu's ul selector
 */
.menu ul {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
}

/*
 * menu's ul li selector
 * Sets font size etc for items in list.
 */
.menu ul li {
    font-size: 1.65em;
    display: inline;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI';
    list-style:none;
    margin: 10px;
}

/*
 * Style each li (list item) anchor.
 */
.menu ul li a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
}

/*
 * Mouse hover colour animation for anchors (li items).
 */
.menu ul li a:hover {
    color: darkorange;
    transition: 0.5s;
}

/*
 * Targets the small text before the anchors in the menu.
 */
.min-menuText {
    font-size: 0.55em;
    margin: 5px auto;
    color: #424242;
}

/*
 * Layer above menu. contains all menu items.
 * Height set to 90% so clicking button does not also open menu!
 * Button positioned in top 10% remaining space.
 */
.menuClick-div
{
    position: absolute;
    z-index: 50;
    width: 100%;
    height: 90%;
}

/*
 *  Div wrapper for menu-bar text
 */
.menu-navText-div
{
    position: absolute;
    text-align: center;
    z-index: 1;
    margin: auto;
    top: 50%; left: 0; bottom: 0; right: 0;
}

/*
 * Styles the "nav" text on the menu-bar
 */
.menu-text
{
    transform: rotate(-90deg);
    display: block;
    margin: 0 auto;  
    font-size: 1.5em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/*
 * Menu-bar wrapper for containing the onClick (smooth scrolling) button 
 */
.menu-button-div
{
    text-align: center;
    z-index: 1;
    height: 50px;
    width: 50px;
    font-size: 40px;
    color: white;
    transition: 0.5s;
    margin: auto;
    position: absolute;
    top: 90%; left: 0; bottom: 0; right: 0;
}

/*
 * Styles the button itself.
 */
#section-scroller-button {
    position: absolute;
    bottom: 20px;
    left: 0;
    bottom: 0;
    height: 90%;
    width: 100%;
    background-color: transparent;
    z-index: 10;
    cursor: pointer;
    transition: 0.6s;
}

/*
 * Sets basic animation transition time for button.
 */
.fa-caret-down
{
    transition: 0.6s;     
}

/*
 * onClick button hover colour.
 */
.fa-caret-down:hover
{
    color: darkorange;
    transition: 0.9s;
}

/*
 * disable hover effect on touch devices
 */
html.can-touch .fa-caret-down:hover{
    background: none; 
}

/*
 * rotates button once user reaches final section of content.
 */
#section-scroller-button.rotate .fa-caret-down {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    transition: 0.6s;
}

/**************************** END: ALL CSS QUERIES FOR MENU FUNCTIONALITY / STYLING! ****************************/


/**************************** START: ALL CSS QUERIES FOR SECTION1 CONTENT FUNCTIONALITY / STYLING! ****************************/

/*
 * Styles Section1 name- text element.
 */
.title-text
{
    font-size: 8em;
    color: dark-grey;
    z-index: 1;
    font-family:'Montserrat', sans-serif;   
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 0.9em;
    transition: 0.9s
}

/*
 * Styles Section1 portfolio-text element.
 */
.port-text
{
    font-size: 1.25em;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 40px auto;
    transition: 0.9s;
}

/**************************** END: ALL CSS QUERIES FOR SECTION-1 CONTENT FUNCTIONALITY / STYLING! ****************************/

/**************************** START: ALL CSS QUERIES FOR SECTION-2 CONTENT FUNCTIONALITY / STYLING! ****************************/

/* container for all cards: sets layout and columns/rows */
.cardLayout {
    display: grid;
    grid-template-columns: auto auto auto;
    position: relative;
    margin: 0px auto;
    padding: 40px; 
    max-width: 75%;
    max-height: 90%;
}

/* Defines the card element for all cards */
.card {
    position: relative;
    width: 300px;
    height: 275px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin: 20px auto;
    transform-style: preserve-3d;
}

/* Wrapper for frontContent */
.card-front {
    background: #000;
    backface-visibility: hidden;
    transform: rotateY(0deg);
    transition: 1.5s;
    transform-style: preserve-3d;
    position: absolute;
    width: 100%;
    height: 100%;
}

/* card hover: rotate card 180deg on y-axis */
.card:hover .card-front {
    transform: rotateY(-180deg);
}

/* Wrapper for translating frontContent in z-axis (3D effect) */
.frontContent {
    transform: translatez(70px) scale(0.8);
    line-height: 2.5em;
}

/* card frontContent h1 styling */
.frontContent h1 {
    position: relative;
    color: #fff;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 10px auto;
}

/* Wrapper for backContent */
.card-back {
    background: #fff;
    backface-visibility: hidden;
    transition: 1.5s;
    transform-style: preserve-3d;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
    border: 2px solid #000;
}

/* Back of card hover: rotate card back to 0 */
.card:hover .card-back {
    transform: rotateY(0deg);
}

/* Wrapper for translating backContent in z-axis (3D effect) */
.backContent {
    transform: translatez(70px) scale(0.8);
    position: absolute;
    left: 0;
    right: 0;
}

/* Back of card: button styling */
.backContent .infoBtn {
    position: relative;
    width: 50%;
    border: 2px solid black;
    margin: 50% auto;
    text-align: center;
}

/* Back of card: button styling */
.backContent .infoBtn a{
    color: #000;
    text-decoration: none;
}

/* Back of card: button heading styling */
.backContent .infoBtn h2 {
    color: #000;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 10px 10px 10px  10px;
}

/* backContent: button hover effect */
.backContent .infoBtn:hover {
    color:#ffee10;
    box-shadow: 0 0px 0px #ffee10;
    background:#ffee10;
    transition: 0.5s;
}

/**************************** END: ALL CSS QUERIES FOR SECTION-2 CONTENT FUNCTIONALITY / STYLING! ****************************/


/**************************** START: ALL CSS QUERIES FOR SECTION-3 CONTENT FUNCTIONALITY / STYLING! ****************************/






/**************************** END: ALL CSS QUERIES FOR SECTION-3 CONTENT FUNCTIONALITY / STYLING! ****************************/


/************************************* START: ALL MEDIA QUERIES FUNCTIONALITY / STYLING! *************************************/

/*Media Query for computer Screen Resizing*/
@media (max-width: 1268px)
{
    .card {
        transition: 0.5s;
        width: 250px;
        height: 250px;
    }

    .backContent .infoBtn h2 
    {
        font-size: 1.5em;
    }
}

/*Media Query for computer Screen Resizing*/
@media (max-width: 1068px)
{
    .card {
        transition: 0.5s;
        width: 200px;
        height: 200px;
    }

    .backContent .infoBtn h2 
    {
        font-size: 1.1em;
    }
}

/*Media Query for computer Screen Resizing*/
@media (max-width: 868px)
{
    .card {
        transition: 0.5s;
        width: 150px;
        height: 200px;
    }

    .backContent .infoBtn h2 
    {
        font-size: 0.9em;

    }
}

/*Media Query for computer Screen Resizing and Ipad support*/
@media (max-width: 768px)
{   
    .cardLayout {
        grid-template-columns: auto auto;
    }

    .card {
        width: 13em;
        height: 10em;
        transition: 0.5s;
    }

    .frontContent h1 {
        font-size: 1em;
    }

    .backContent .infoBtn h2 
    {
        font-size: 0.9em;
    }

    .menu-bar
    {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 56px;
        background: #000000;
        cursor:pointer;
        box-sizing: border-box;
        transition: 0.9s;    
    }

    .menu
    {
        position: fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background: #000000;
        opacity: 0.9;
        transition: 0.9s;
        transform: translateY(-100%);
        z-index: 10;
    }

    .menu-align
    {
        display: table;
        width: 70%;
        height: 100vh;
        background: #000000;
        margin: auto;
    }
    
    .menu ul
    {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
    }
    
    .menu-navText-div
    {
        transform: rotate(90deg);
        transition: 0.9s;
        opacity: 0;
    }
    
    .menu-button-div
    {
        text-align: center;
        z-index: 1;
        margin: auto;
        position: relative;
        top: 91vh; left: 0; bottom: 0; right: 0;
        color: black;
    }

    .title-text
    {
        font-size: 4em;
        color: dark-grey;
        z-index: 1;
        font-family:'Montserrat', sans-serif;   
        margin: 0 auto;
        text-transform: uppercase;
        letter-spacing: 3px;
        line-height: 70px;
    }

    .port-text
    {
        font-size: 1em;
        color: #000;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 40px auto;
    }
}

/*Phone Support*/
@media (max-width: 480px)
{
    .cardLayout {
        grid-template-columns: auto auto;
        margin: 0 auto;
        padding: 8px; 
    }

    .card {
        width: 9em;
        height: 9em;
        margin: 20px auto;
    }

    .frontContent h1 {
        font-size: 0.9em;
    }
    
    .backContent .infoBtn h2 
    {
        font-size: 0.8em;
        margin: 5px 5px 5px 5px;
    }

    .backContent .infoBtn {
        position: relative;
        width: 50%;
        border: 2px solid black;
        text-align: center;
    }

}

/*More Mobile support*/
@media (max-width: 400px)
{

    .cardLayout {
        grid-template-columns: auto auto;
        margin: 0 auto;
        padding: 8px; 
    }

    .title-text{
        font-size: 3.5em;
    }

    .port-text{
        font-size: 0.7em;
    }

    .card {
        width: 7em;
        height: 7em;
        margin: 20px auto;
    }

    .backContent .infoBtn {
        position: relative;
        width: 50%;
        border: 2px solid black;
        text-align: center;
    }

    .frontContent h1 {
        font-size: 0.7em;
    }
    
    .backContent .infoBtn h2 
    {
        font-size: 0.5em;
    }

}

/************************************* END: ALL MEDIA QUERIES FUNCTIONALITY / STYLING! ****************************